<ion-view title="Jobs" >
	<ion-content class="padding">
		<div class="section"> 
			<div class="item item-divider">
				MY JOBS
			</div>
			<ul class="list">
				<li class="item">
					<p class="job-name">Replace Faulty Bolts</p>
					<p class="job-member">You</p>
				</li>
				<li class="item">
					<p class="job-name">Replace Faulty Bolts</p>
					<p class="job-member">You</p>
				</li>
				<li class="item">
					<p class="job-name">Replace Faulty Bolts</p>
					<p class="job-member">You</p>
				</li>
			</ul>
		</div>
		<div class="section">
			<div class="list">
				<div class="item item-divider">
					ALL JOBS IN PROGRESS
				</div>
				<div class="item item-button-right">
					<p class="job-name"> 
						Backlog stations
					</p>
					<p class="job-member">
						You, Adam M.
					</p>
					<button class="button button-positive">
						<i class="icon ion-plus-round"></i>
					</button>
				</div>

				<div class="item item-button-right">
					<p class="job-name"> 
						Replace arcjet tubes
					</p>
					<p class="job-member">
						You, Adam M.
					</p>
					<button class="button button-positive">
						<i class="icon ion-plus-round"></i>
					</button>
				</div>

				<div class="item item-button-right">
					<p class="job-name"> 
						Secure ArcJet for Test Run
					</p>
					<p class="job-member">
						You, Adam M.
					</p>
					<button class="button button-positive">
						<i class="icon ion-plus-round"></i>
					</button>
				</div>
			</div>

		</div>
		<div class="section">
			<div class="item item-divider">
				JOB TEMPLATES
			</div>
			<div class="item item-button-right">
				<p class="job-name"> 
					Backlog stations
				</p>
				<p class="job-member">
					You, Adam M.
				</p>
				<button class="button button-positive">
					<i class="icon ion-plus-round"></i>
				</button>
			</div>

			<div class="item item-button-right">
				<p class="job-name"> 
					Replace arcjet tubes
				</p>
				<p class="job-member">
					You, Adam M.
				</p>
				<button class="button button-positive">
					<i class="icon ion-plus-round"></i>
				</button>
			</div>

			<div class="item item-button-right">
				<p class="job-name"> 
					Secure ArcJet for Test Run
				</p>
				<p class="job-member">
					You, Adam M.
				</p>
				<button class="button button-positive">
					<i class="icon ion-plus-round"></i>
				</button>
			</div>

		</div>

	</ion-content>
</ion-view>