// your variable changes can go here

// Colors
$gray-section-header: #6d6e70;

//Base
$font-family-sans-serif: Gotham Narrow;

// Items
$item-border-width: 1px;

$item-divider-bg: $gray-section-header;
$item-divider-color: white;

$item-light-bg: #ededed;
$item-light-border: rgb(185, 185, 185);

@import "ionic/ionic";

// your slick styles can go here...


// Custom

.section-header {
    font-weight: bold;
    font-size: 23/2px;
    text-transform: uppercase;
}

.list-item-title {
    font-size: 36/2px;
    font-weight: bold;
}

.list-item-subtitle {
    font-size: 29/2px;
}