// your variable changes can go here

$nav-bar-height: 60px;

// Colors
$gray-dark: rgba(0, 0, 0, .42);
$text-normal: #010101;
$gray-list-item: #f5f5f5;
$gray-light: #ededed;
$gray-lighter: #989898;
$white-text: white;
$blue-home: #2a9acd;
$red-alert: #f05a24;
$green-add: #22b473;

$success: rgba( 143, 203, 33, 1 ); 
$warning: rgba( 234, 173, 22, 1 ); 
$error: rgba( 239, 78, 58, 1 ); 

// Overridden Variables
$positive: #f0f0f0;
$positive-active: rgba(124, 124, 124, .2);
$button-positive-active-bg: $positive-active; 
$dark: $gray-dark;
$base-background-color: $gray-light;

//Base
@font-face {
	font-family: "Gotham Narrow";
	src: url("../fonts/GothamNarrow-Book.otf");
}

// Fonts
$font-family-sans-serif: "Gotham Narrow";


// Items
$item-border-width: 1px;

$item-divider-bg: $gray-dark;
$item-divider-color: white;

$item-light-bg: white;
$item-light-border: rgb(185, 185, 185);


// Search
$search-bar: 30%; 
$search-bar-expanded: 65%; 

//Forms
input {
	background-color: $gray-list-item;
}

// Fonts (havne't implemented yet, just created)
$item-title: (36/2)+px;
$section-header: (23/2)+px;
$item-subtitle: (23/2)+px;

@import "ionic/ionic";

// your slick styles can go here...


// Custom

//was gonna use this for transitions but might have to change 
* {
	-webkit-transition: all .25s linear; 
	-moz-transition:  all .25s linear; 
	-ms-transition: all .25s linear; 
	-o-transition: all .25s linear; 
	transition:  all .25s linear;
}

// remove later after testing


// Text Styles

.big-title {
	font-family: $font-family-sans-serif; 
	font-size: (36/2)+px;
	font-weight: bold;
	color: black;
}

.small-title {
	font-size: (23/2)+px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}

.small-title-white {
	font-size: (23/2)+px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}

.large-regular-text {
	font-size: (36/2)+px;
	font-weight: normal;
	color: black;
}

.regular-text {
	font-size: (36/2)+px;
	font-weight: normal;
	color: black;
}

.small-regular-text {
	font-size: (29/2)+px;
	font-weight: normal;
	color: black;
}

.detail-text {
	font-size: (29/2)+px;
	font-weight: lighter;
	color: black;
}

.action-text {
	font-size: (29/2)+px;
	font-weight: bold;
	color: black;
	text-transform: none;
}

.action-text-white {
	font-size: (29/2)+px;
	font-weight: bold;
	color: white;
}

.small-light-caps {
	text-transform: uppercase;
	font-weight: lighter;
	font-size: (23/2)+px;
	color: black;
}

.small-icon {
	height: 13px;
	margin-right: 10px;
	margin-bottom: -2px;
}

.medium-icon {
	height: (40/2)+px;
	margin-right: 10px;
	margin-bottom: -2px;
}

// Link Styles

/* unvisited link */
a:link {
	color: $text-normal;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: $text-normal;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: $text-normal;
	text-decoration: none;
}

/* selected link */
a:active {
	color: $text-normal;
	text-decoration: none;
}

.home {
	background-color: $blue-home;
}

.alert {
	background-color: $red-alert;
}

.add {
	background-color: $green-add;
}

.add-sub {
	background-color: #C9E7D4;
}

.center-text {
	margin-left: 0 auto;
	margin-right: 0 auto;
	width: 50%;
	display: inline-block;
}

.left-title-button {
	display: inline-block;
	width: 10%;
}

.right-title-button {
	display: inline-block;
	float: right;
	width: 10%;
}

.offset {
	margin-left: 4.5%;
	margin: 0 20px; 
	margin-top: 20px;
	width: 95.4%;

	.item-divider {
		background-color: $gray-lighter;
	}
}

.list-action-item {
	margin-top: 8px;
}

.alert-extras {

	position: relative;
	margin-top: 16px;
	padding-bottom: 10px;
	margin-bottom: 5px;

	.alert-type {
		left: 0px;
		bottom: 0;
		position: absolute;
	}

	.alert-time {
		right: -50px;
		position: absolute;
		bottom: 0;
	}

}

.alert-text {
	overflow: ellipsis;
	max-width: 100%;
	margin-right: 50px;
}

.detail {
	margin-bottom: (21/2)+px
}

.detail-header {
	margin-bottom: (40/2)+px
}

.button.offset {
	margin-top: 0px;
	background-color: $gray-light;
}

#nav-bar.bar {
	padding: 0px;
}

.job-header {
	border: 0px;

	.list-item-title {
		padding-bottom: 10px;	
	}

	.list-item-details {
		padding-bottom: 3px;	
	}
}

input[placeholder], 
textarea[placeholder] {
	font-size: 18px; 
	font-weight: normal;
	line-height: 30px;
	padding-left: 5px;
}

textarea {
	resize: none;
}

#nav-bar {

	height: $nav-bar-height;
	border-bottom: 2px solid $gray-dark;

	.button {
		border: 0px;
		color: $text-normal;
		font-size: (23/2)+px;
		font-weight: bold;
	}

	.button.active {
		box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
		color: $white-text;
		background-color: $positive;
	}

	.button.activated {
		box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
		color: $white-text;
	}

	#search {
		-webkit-transition: width .25s;
		transition: width .25s;
		margin: auto;
		margin-right: 10px;
		border: 2px solid $gray-lighter;
		width: $search-bar;
		height: (66/2)+px;
	}

	.search-search {
		margin: auto;
		margin-left: 10px;
		width: 85%;
		border: 2px solid $gray-lighter;
		height: (66/2)+px;
	}

	#search:focus {
		width: $search-bar-expanded;
	}

	.icon {
		max-height: 25px;
		max-width: 25px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.icon-text {
		margin-top: -13px;
	}

}

#search-results {
	opacity: 0; 
	height: 0;
	top: $nav-bar-height;
	background-color: #F0F0F0;
	border: 2px solid #989898;
	width: $search-bar-expanded;
	z-index: 20;
	position: absolute;
	right: 0;
	margin-right: 10px; 
}






.nav-frame {
	top: 17px;
}

.section {
	.list {
		.item {
			min-height: (125/2)+px;
		}
	}

	.item-divider {
		min-height: (56/2)+px;

		.section-header {
			/*line-height: (15)+px;*/
		}
	}
}

//	Alerts Page

#alerts {

	.list-item-title {
		font-weight: normal; 
	}

	.list-item-subtitle {
		font-size: 11px;
	}

	a {
		text-decoration: none; 
		color: #000;
		font-weight: bold; 
	}

	.indicator {
		height: 92px; 
		position: absolute; 
		width: 10px; 
		left: 0; 
		top: 0; 
	}

	.note {
		background-color: #f0aa09;
	}

	.job {
		background-color: #2d9db4;
	}

}

// Job Page
.offset {
	.item-divider {
		background-color: transparent;
		border: 0px;

		i {
			color: black;
		}
	}
}

.checked {
	color: $gray-lighter; 
	opacity: 0.85;

	-webkit-transition: all 0.5s linear; 
	-moz-transition:  all 0.5s linear; 
	-ms-transition: all 0.5s linear; 
	-o-transition: all 0.5s linear; 
	transition:  all 0.5s linear;

	.button {
		opacity: 1; 
		-webkit-transition: all 0.5s linear; 
		-moz-transition:  all 0.5s linear; 
		-ms-transition: all 0.5s linear; 
		-o-transition: all 0.5s linear; 
		transition:  all 0.5s linear;
	}
}


// Modals
#hover, 
.popup-modal {
	display: none;
}
.popup-modal {
	position: relative;
	top: 50px;
	z-index: 10;
	background-color: white;
	height: 425px;

	.closeModals {
		font-size: 20px;
		color: black; 
		position: absolute; 
		right: 10px; 
		top: 20px; 

	}

	.button {
		font-weight: bold !important; 
		border: none; 
	}

	.item-input {
		margin: 20px 12px;
		background-color: #EAEAEA;

		textarea, 
		input {
			background-color: inherit; 
		}
	}

	.input-header {
		font-size: (36/2)+px;
		margin: 20px 12px;
		font-weight: bold;
		text-transform: uppercase; 
	}

	textarea {
		height: 100px; 
		background-color: $item-light-bg; 
		resize: none; 
	}

	input {
		color: black;
	}


	input[placeholder], 
	textarea[placeholder] {
		//@include placeholder-color( "red" ); 
		//		color: rgb(134, 133, 134);
		font-size: 18px; 
		font-weight: lighter;
	}


}

#selectionModal {
	margin: 0 auto; 
	height: 176px; 
	width: 30%; 
	padding: 0 10px; 

	.button {
		text-transform: uppercase;
	}
}

#hover {
	position: fixed;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	z-index: 9;
}



// NOTIFACTION BAR
#notification {
	height: $nav-bar-height; 
	width: 100%; 
	position: relative; 
	z-index: 10;
	top: -80px;

	div {
		position: relative;
		margin: 0 auto; 
		color: white; 
		font-size: $item-title; 
		line-height: $nav-bar-height; 
		width: 50%; 
		text-align: center; 
	}
}

.success {
	background-color: #292929;  
}

.error {
	background-color: $error;  
}

.warning {
	background-color: $warning;  
}

.disappear {
	opacity: 0; 
	top: -80px; 
	-webkit-transition: all 0.75s linear; 
	-moz-transition:  all 0.75s linear; 
	-ms-transition: all 0.75s linear; 
	-o-transition: all 0.75s linear; 
	transition:  all 0.75s linear;
}

.appear {
	opacity: 1; 
	top: 0 !important; 
	-webkit-transition: all 0.75s linear; 
	-moz-transition:  all 0.75s linear; 
	-ms-transition: all 0.75s linear; 
	-o-transition: all 0.75s linear; 
	transition:  all 0.75s linear;
}



// Collapsable Elements (on jobs page)
.collapsable {
	top: 0 !important; 
}

.expandable {

	.tool-submenu {
		display: none; 
		padding: 10px 20px; 
		background-color: #e0e0e0; 
		text-transform: uppercase; 
	}
}

// Code for Add page

#add .first {
	border: 0px;
}

.add-section li {
	margin-left: 20px;
}

.add-section li.notab{
	margin-left: 0px;
}

.add-section .item {
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

.add-type {

	.button-bar {
		height: (57/2)+px;
	}

	.button {
		background-color: $gray-light;
		border: 0px;
		text-align: left;
		padding-top: 4px;
		line-height: (57/2)+px;
	}

	.active {
		background-color: white;
	}

}

.white-container {
	background-color: white;
}

#add-job-form {
	display: none;
}

.add-sub {
	width: 100%;
	height: 47px;
}

.create-button{
	clear: both;
	float: right;
	width: auto;
	height: (71/2)+px !important;
	width: 140px;
	padding: 0 20px 0 20px;
}

.add-modal {
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}

.job-selection {
	/*border: 1px solid red;*/
}

.input-job-hidden {
	/*display: noneΩ;*/
}


// Search Page
#search-page {
	.small-regular-text {
		font-size: (25/2)+px; 
		text-transform: uppercase; 
	}	
}


#job-title {
	position: relative;

	.button {
		position: absolute; 
		right: 0; 
		top: -10px; 
		margin-right: 47px; 
	}
}

.completed {
	opacity: 0.5; 
	
	-webkit-transition: all 0.5s linear; 
	-moz-transition:  all 0.5s linear; 
	-ms-transition: all 0.5s linear; 
	-o-transition: all 0.5s linear; 
	transition:  all 0.5s linear;
}

