<!-- 							<h1>I'm a Todo-aholic </h1>
							<div class="note-count">{{ notes.length }}</div>
							<div class="note-count" ng-repeat="n in notes">{{ n.text }}</div>
							<form>
								<div class="form-group">
							
									BIND THIS VALUE TO formData.text IN ANGULAR
									<input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
								</div>
							
								createToDo() WILL CREATE NEW TODOS
								<button type="submit" class="button button-positive" ng-click="createNote()">Add</button>
							</form>
													</div> -->
						<!-- TEST CODE -->