<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
<link href="css/ionic.app.css" rel="stylesheet">
-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="js/script.js"></script>
	</head>

	<body ng-app="starter" ng-controller="ToolsCtrl" id="add-tool-to-job">

		<ion-nav-bar id="nav-bar" class="bar-positive my-nav-bar" align-title="center">
			<input ng-model="inputQuery" ng-change="setSearchQuery(inputQuery)" class="search-search" type="text"/>
			<div class="button-bar nav-bar-buttons">
				<div id="done" class="button button-done done" ng-click="getToolList()">Done</div>
			</div>
		</ion-nav-bar>

		<div id="notification"> </div>

		<ion-view class="nav-frame">
			<ion-content>
				<div id="add-tools" class="section">
					<div class="item item-divider home">
						<back><div class="section-header"><i class="icon ion-chevron-left"></i> Back</div></back>
					</div>
					<ul class="list">
						<li class="item item-button-right" ng-repeat="tool in tools | orderBy:predicate | filter: {name: query} ">
							<div class="big-title">{{tool.name}}</div>
							<div class="small-regular-text">Current Location: {{tool.current_location}}</div>
							<button ng-click="check($event)" class="button button-clear checklist-item" id="{{tool._id}}">
								<i class="icon ion-ios7-checkmark-outline medium-icon"></i>
							</button>
						</li>
					</ul>
				</div>

			</ion-content>
		</ion-view>

	</body>
</html>
