<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
<link href="css/ionic.app.css" rel="stylesheet">
-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="js/script.js"></script>
		<script src="js/moment.js"></script>
	</head>

	<body ng-app="starter">

		<ion-nav-bar id="nav-bar" ng-controller="NavCtrl" class="bar-positive my-nav-bar" align-title="center">
			<div class="short alert-pg"></div>
			<back>
				<i class="icon ion-chevron-left back-icon"></i>
			</back>
			<input id="search" type="text" placeholder="Tools, Jobs, Notes"  autocomplete="off" ng-model="searchText" ng-change=""/> 
			<div class="clear-button" type="reset"><img src="img/icons/clear-btn.svg" alt="x"></div>
			<button class="button button-stable cancel-button">Cancel</button>

			<div class="button-bar nav-bar-buttons" id="nav-buttons">
				<!-- place in a.button -->

				<div class="button home-nav-button"><img class="icon" src="img/icons/home-gray.svg"></div>
				<div class="button alerts-nav-button"><img class="icon" src="img/icons/test-color.svg"></div>
				<!-- <a class="button" ng-click="showSelectionModal()"><img class="icon" src="img/icons/add-gray.svg"></a> -->
			</div>

			<!-- if you're on the job page, then the elements have plus signs otherwise it looks like normal -->	
		</ion-nav-bar>


		<div id="notification"> </div>

		<ion-view title="Alerts" class="nav-frame" ng-controller="ActivityFeedCtrl">
			<ion-content overflow-scroll="true" class="has-header">
				<div id="activity-feed" class="section">
					
					</div>


					<div class="list">
						<div class="item item-button-right" ng-repeat="el in feed | orderBy:predicate">
							<!--<a href="job.html?id=53be081604b37af3d04528db&type=alert">-->
							<a href="job.html?id={{ el.job_id._id || el._id }}">
								<div class="regular-text alert-text" ng-if="el.status !== 'completed' && el.message !== undefined && el.job_id._id !== '111111111111111111111111'"> 
									You: "{{ el.message }}"							
								</div>

								<div class="regular-text alert-text" ng-if="el.status !== 'completed' && el.message !== undefined && el.job_id._id === '111111111111111111111111'"> 
									"{{ el.message }}"							
								</div>

								<div class="regular-text alert-text" ng-if="el.status !== 'completed' && el.message === undefined"> 
									You created a job							
								</div>
								<div class="regular-text alert-text" ng-if="el.status === 'completed'"> 
									You completed a job.								
								</div>

								<div class="alert-extras">

									<div class="small-light-caps alert-type">
										<!-- show notes icon -->
										<span ng-if="el.status !== 'completed' && el.message !== undefined && el.job_id._id !== '111111111111111111111111'">
											<img class="medium-icon" src="img/icons/notes-dark.svg"> 
										</span>

										<!-- show jobs icon -->
										<span ng-if="el.status !== 'completed' && el.message === undefined">
											<img class="medium-icon" src="img/icons/jobs-dark.svg"> 
										</span>

										<!-- show personal notes icon -->
										<span ng-if="el.status !== 'completed' && el.message !== undefined && el.job_id._id === '111111111111111111111111'">
											<img class="medium-icon" src="img/icons/notebook-dark.svg"> 
										</span>

										<!-- show tools icon -->
										<!--
<span ng-if="el.status !== 'completed' && el.message !== undefined">
<img class="medium-icon" src="img/icons/notes-dark.svg"> 
</span>
-->

										<p ng-if="el.title !== undefined"> {{ el.title }} </p>
										<p ng-if="el.title === undefined"> {{ el.job_id.title }} </p>
									</div>

									<div class="alert-time"> 
										{{ el.created | fromNow }} 
									</div>

								</div>

								</div>
							</a>

					</div>

				</div>

			</ion-content>
		</ion-view>   

		<!-- Transparent Screen that will allow us to dismiss the dialog -->
		<!--		<div id="hover" ng-controller="AddNoteController" ng-click="hideNewNoteModal()"></div>-->
		<!-- 			<div id="hover" ng-controller="ModalCtrl" ng-click="hideModal()"></div>

<div id="selectionModal" ng-controller="ModalCtrl" class="card popup-modal">
<form ng-submit="createTask(task)">
<div class="list">
<p class="input-header"> Select </p>
<button class="button button-full button-dark" ng-click="showModal('note')">Add A Note</button>
<button class="button button-full button-dark" ng-click="showModal('job')">Add A Job</button>
</div>
</form>
</div> -->

		<!-- dunno if we have to change the controllers for add note and job: DISCUSS LATER -->
		<!-- 			<div id="addNoteModal" ng-controller="ModalCtrl" class="card popup-modal">
<form ng-submit="createTask(task)">
<div class="list">
<p class="input-header"> Add New Note </p>
<label class="item item-input">
<input type="text" placeholder="Title" ng-model="task.title">
</label>

<label class="item item-input">
<input type="text" placeholder="Add Participants (Optional)" ng-model="task.title">
</label>

<label class="item item-input">
<textarea placeholder="Create Note (Optional)" ng-model="task.title"> </textarea>
</label>

<button class="button button-full button-dark" >Create Note</button>

</div>
</form>
</div>
-->
		<!-- 			<div id="addJobModal" ng-controller="ModalCtrl" class="card popup-modal">
<form ng-submit="createTask(task)">
<div class="list">
<p class="input-header"> Add New Job </p>
<label class="item item-input">
<input type="text" placeholder="Title" ng-model="task.title">
</label>

<label class="item item-input">
<input type="text" placeholder="Add Participants (Optional)" ng-model="task.title">
</label>

<label class="item item-input">
<textarea placeholder="Create Note (Optional)" ng-model="task.title"> </textarea>
</label>

<button class="button button-full button-dark" >Create Job</button>

</div>
</form>
</div>  --> 

	</body>
</html>
