<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
<link href="css/ionic.app.css" rel="stylesheet">
-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>
			
		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="js/script.js"></script>
	</head>

	<body ng-app="starter">

		<ion-nav-bar id="nav-bar" ng-controller="NavCtrl" class="bar-positive" align-title="center">
			<back>Back</back>
			<input id="search" type="text"/>
			<div class="button-bar nav-bar-buttons">
				<!-- place in a.button -->

				<div class="button jobs active" ng-click="hideModal()" href="index.html"><img class="icon" src="img/icons/jobs-light.svg"><div class="icon-text">Jobs</div></div>
				<div class="button notes" ng-click="hideModal()" href="notes.html"><img class="icon" src="img/icons/notes-dark.svg"><div class="icon-text">Notes</div></div>
				<div class="button alerts" ng-click="hideModal()" href="alerts.html"><img class="icon" src="img/icons/alert-dark.svg"><div class="icon-text">Alerts</div></div>
				<a class="button" ng-click="showSelectionModal()"><img class="icon" src="img/icons/add-dark.svg"><div class="icon-text">Add Notes</div></a>
			</div>
		</ion-nav-bar>

		<ion-nav-view animation="no-animation"></ion-nav-view>

		
	  	<ion-view title="Jobs" hide-back-button="true" ng-controller="JobCtrl">
			<ion-content>
				<div class="section">
					<div class="item item-divider">
						<div class="section-header">Job: {{job.title}}</div>
					</div>
					<ul class="list">
						<li class="item job-header">
							<div class="list-item-title">{{job.title}}</div>
							<div class="list-item-details"><span class="list-item-subtitle-title">Created:</span> <span class="list-item-subtitle">{{job.create}}</span> <span class="list-item-subtitle-title">By</span><span class="list-item-subtitle"> {{job.creator}}</span></div>
							<div class="list-item-details"><span class="list-item-subtitle-title">Participants: </span><span class="list-item-subtitle">{{job.members}}</span></div>
						</li>
					</ul>
				</div>

				<button class="button offset list-item-adder">Add Participant +</button>
				
				<div class="section offset">
					<div class="item item-divider">
						<div class="section-header">Notes</div>
					</div>
					<ul class="list">
						<li class="item" ng-repeat="note in job.notes">
							{{note}}
						</li>
					</ul>
				</div>
				
				<div class="section offset">
					<div class="item item-divider">
						<div class="section-header">Tools</div>
					</div>
					<ul class="list">
						<li class="item" ng-repeat="tool in job.tools">
							<div class="list-item-title">{{tool.name}}</div>
							<div class="list-item-subtitle">Current Location: {{tool.current_location}}</div>
						</li>
					</ul>
				</div>
				
			</ion-content>
			</ion-view>

	</body>
</html>
