<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/jquery-ui.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
<link href="css/ionic.app.css" rel="stylesheet">
-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/jquery-ui.js"></script>
		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="js/script.js"></script>

	</head>

	<body ng-app="starter">

		<ion-nav-bar id="nav-bar" ng-controller="NavCtrl" class="bar-positive my-nav-bar" align-title="center">
			<div class="button-bar nav-bar-buttons">
				<!-- place in a.button -->

				<a class="button jobs" ng-click="hideModal()" href="index.html"><img class="icon" src="img/icons/home-colored.svg"></a>
				<a class="button alerts" ng-click="hideModal()" href="alerts.html"><img class="icon" src="img/icons/alert-gray.svg"></a>
				<a class="button" href="add.html"><img class="icon" src="img/icons/add-gray.svg"></a>

			</div>
			<input id="search" type="text" placeholder="Search">
		</ion-nav-bar>

		<ion-view title="Jobs" hide-back-button="true" ng-controller="JobCtrl" class="nav-frame">
			<ion-content class="job">
				<div class="section">
					<div class="item item-divider home">
						<div class="left-title-button"><back>Back</back></div>
						<div class="center-text">{{job.title}}</div>
						<!-- <div class="right-title-button">Right Side</div> -->
					</div>
					<div class="big-title offset">{{job.title}}</div>
					<!-- <ul class="list">
<li class="item job-header">
<div class="list-item-title">{{job.title}}</div>
<div class="list-item-details"><span class="list-item-subtitle-title">Created:</span> <span class="list-item-subtitle">{{job.create}}</span> <span class="list-item-subtitle-title">By</span><span class="list-item-subtitle"> {{job.creator}}</span></div>
<div class="list-item-details"><span class="list-item-subtitle-title">Participants: </span><span class="list-item-subtitle">{{job.members}}</span></div>
</li>
</ul> -->
				</div>

				<!-- <button class="button offset list-item-adder">Add Participant +</button> -->

				<div class="section offset">
					<div class="item item-button-right item-divider">
						<div class="section-header small-title"><img class="small-icon" src="img/icons/notes-dark.svg">Notes</div>
						<button class="collapsable button button-clear button-positive">
							<i class="icon ion-ios7-arrow-down"></i>
						</button>
					</div>
					<ul class="list insert">
						<li class="item" id="addNoteFromJob">
							<div class="addListItemText action-text list-action-item">
								+ Add Note
							</div>
							<input class="addListItemInput" type="text" placeholder="Write Note" ng-model="note.message" ng-enter="addNote( note )">
						</li>
						<li class="item regular-text item-button-right {{ note.status }}" ng-repeat="note in notes track by $index">
							{{ note.message }}
							<button ng-click="changeStatus( {{note}}, $event )" class="button button-clear checklist-item">
								<i class="icon ion-ios7-checkmark-outline medium-icon"></i>
							</button>
						</li>
					</ul>
				</div>

				<div class="section offset">
					<div class="item item-button-right item-divider">
						<div class="section-header small-title"><img class="small-icon" src="img/icons/tools-dark.svg">Tools</div>
						<button class="collapsable button button-clear button-positive">
							<i class="icon ion-ios7-arrow-down"></i>
						</button>
					</div>
					<ul class="list">
						<li class="item" id="addToolFromJob">
							<a href="addTool.html?{{job._id}}">
								<div class="addListItemText action-text list-action-item">+ Add Tool</div>
							</a>
						</li>
						<li class="item item-button-right" ng-repeat="tool in job.tools">
							<div class="big-title">{{tool.name}}</div>
							<div class="detail-text ">Current Location: {{tool.current_location}}</div>
							<button class="button button-clear checklist-item">
								<i class="icon ion-ios7-checkmark-outline medium-icon"></i>
							</button>
						</li>
					</ul>
				</div>

				<div class="section offset">
					<div class="item item-button-right item-divider">
						<div class="section-header small-title">

							<div class="detail-header">
								<img class="small-icon" src="img/icons/jobs-dark.svg">Job Details
							</div>

							<div class="detail">
								<span class="small-light-caps">Created:</span> 
								<span class="action-text">{{job.created}}</span> 
								<span class="small-light-caps">by</span> 
								<span class="action-text">{{job.creator}}</span>
							</div>

							<div class="detail">
								<span class="small-light-caps">Collaborators:</span> 
								<span class="action-text">{{job.members}}</span> 

							</div>

						</div>
						<button class="collapsable button button-clear button-positive">
							<i class="icon ion-ios7-arrow-down"></i>
						</button>
					</div>
					<ul class="list">
						<li class="item action-text">
							<div class="list-action-item">
								Add or Remove a Collaborators
							</div>
						</li>
						<li class="item action-text">
							<div class="list-action-item">
								Update Job Template
							</div>
						</li>
						<li class="item action-text">
							<div class="list-action-item">
								Save as New Job Template
							</div>
						</li>
					</ul>
				</div>

			</ion-content>
		</ion-view>

	</body>
</html>
