/*
Syntax error: Undefined variable: "$font-family-sans-bold".
        on line 180 of scss/app.scss

175: 	font-weight: lighter;
176: 	color: black;
177: }
178: 
179: .action-text {
180: 	font-family: $font-family-sans-bold; 
181: 	font-size: (29/2)+px;
182: 	font-weight: bold;
183: 	color: black;
184: 	text-transform: none;
185: }

Backtrace:
scss/app.scss:180
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/script/variable.rb:49:in `_perform'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/script/node.rb:40:in `perform'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/tree/root_node.rb:20:in `render'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/engine.rb:315:in `_render'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/engine.rb:262:in `render'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:201:in `each'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$font-family-sans-bold\".\A         on line 180 of scss/app.scss\A \A 175: 	font-weight: lighter;\A 176: 	color: black;\A 177: }\A 178: \A 179: .action-text {\A 180: 	font-family: $font-family-sans-bold; \A 181: 	font-size: (29/2)+px;\A 182: 	font-weight: bold;\A 183: 	color: black;\A 184: 	text-transform: none;\A 185: }"; }
