/*
Syntax error: Invalid CSS after "}": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 929 of scss/app.scss

924: }
925: #complete .icon:before {
926: 	font-size: 55px !important; 
927: }
928: 
929: <<<<<<< HEAD
930: .hidden {
931: 	display: none;
932: }
933: =======
934: 

Backtrace:
scss/app.scss:929
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/scss/parser.rb:1147:in `expected'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/scss/parser.rb:1085:in `expected'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/scss/parser.rb:28:in `parse'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/engine.rb:342:in `_to_tree'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/engine.rb:315:in `_render'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/engine.rb:262:in `render'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:201:in `each'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/adammenz/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.18/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 929 of scss/app.scss\A \A 924: }\A 925: #complete .icon:before {\A 926: 	font-size: 55px !important; \A 927: }\A 928: \A 929: <<<<<<< HEAD\A 930: .hidden {\A 931: 	display: none;\A 932: }\A 933: =======\A 934: "; }
