/*
Syntax error: Invalid CSS after "@font-face {": expected "}", was "<<<<<<< HEAD"
        on line 40 of scss/app.scss

35: 	font-family: "Gotham Narrow Book";
36: 	src: url("../fonts/GothamNarrow-Book.otf");
37: }
38: 
39: @font-face {
40: <<<<<<< HEAD
41: =======
42: 	font-family: "Gotham Narrow Bold";
43: 	src: url("../fonts/GothamNarrow-Bold.otf");
44: }
45: 

Backtrace:
scss/app.scss:40
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1146:in `expected'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1084:in `expected'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:167:in `directive_body'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:158:in `directive'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:553:in `block_child'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:27:in `parse'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:342:in `_to_tree'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/aderinsolaakintilo/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@font-face {\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 40 of scss/app.scss\A \A 35: 	font-family: \"Gotham Narrow Book\";\A 36: 	src: url(\"../fonts/GothamNarrow-Book.otf\");\A 37: }\A 38: \A 39: @font-face {\A 40: <<<<<<< HEAD\A 41: =======\A 42: 	font-family: \"Gotham Narrow Bold\";\A 43: 	src: url(\"../fonts/GothamNarrow-Bold.otf\");\A 44: }\A 45: "; }
